@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}
/* Modern Scroll Bar CSS */
::-webkit-scrollbar {
	width: 8px;
  }
  
  ::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
	background-color: #888;
	border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
	background-color: #555;
  }
  
  ::-webkit-scrollbar-horizontal {
	height: 8px;
  }
  
  /* styles.css veya benzeri bir dosyaya ekleyin */
.scrollbar-hidden {
    overflow-x: auto; /* Yatay kaydırmayı aktif et */
    -ms-overflow-style: none;  /* Internet Explorer ve Edge için */
    scrollbar-width: none;  /* Firefox için */
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Chrome, Safari ve Opera için */
}
  /* Smooth scroll */
  html {
	scroll-behavior: smooth;
  }
 